/* CSS FOR CART, CHECKOUT, PAYMENT METHOD, CONFIRMATION */
/* HEADER AND FOOTER */
/* MOBILE FIRST APPROACH */

/* x small */
@media (min-width: 0px){
    #shipping-address, #payment-method, #cart-summary, #receipt{
        width: 97%;
        margin: 0 auto;
        border: solid 1px lightgray;
        border-radius: 20px;
        margin: 2%;
        padding: 3%;
    }
    /* SHIPMENT */
    input:not(input[type=radio]){
        width: 100%;
        margin-bottom: 1.5rem;
        height: 2rem;
    }
    select{
        width: 90%;
        margin-bottom: 1.5rem;
        height: 2rem;   
    }
    /* PAYMENT */
    ul{
        padding-left: 0;
        list-style: none;
    }
    ul li span{
        display: inline-block;
        padding-left: 0.5rem;
    }
    /* CART SUMMARY IN CHECKOUT */
    #cart-summary .cart-item{
        height: 120px;
        padding: 1%;
        border: none;
    }
    #cart-summary .item-img{
        height: 100%;

    }
    #cart-summary .item-details{
        height: 100%;
        padding-left: 1rem;
        height: fit-content;
    }
    #cart-summary .item-details {
        padding-left: 1rem;
        font-size: 1rem;
    }
    /* BUTTON */
    #checkout button{
        width: 100%;
        /* display: block; */
        margin: 1rem auto;
    }
    /* ORDER RECEIPT */
    #order-receipt {
        width: 70%;
        margin: auto;
        border: solid 1px lightgray;
        border-radius: 20px;
        margin: 2%;
        padding: 3%;
    }
    .receipt-heading {
        font-size: 1.2rem;
    }
}

/* small */
@media (min-width: 576px){}

/* medium */
@media (min-width: 768px) {}

/* large */
@media (min-width: 992px) {}

/* x large */
@media (min-width: 1200px) {}